@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-dm-sans;
    font-weight: 400;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-dm-sans font-medium;
  }

  .emphasis {
    @apply font-dm-sans font-semibold;
  }
}
